<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RetroGames.Properties.GameSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="RetroGames.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RetroGames.Properties.GameSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="RetroGames.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <applicationSettings>
        <RetroGames.Properties.GameSettings>
            <setting name="PasswordRegEx" serializeAs="String">
                <value>^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[#$@!%&amp;*?])[A-Za-z\d#$@.!%&amp;*?]{8,15}$</value>
            </setting>
            <setting name="EmailRegEx" serializeAs="String">
                <value>^(?(")(".+?(?&lt;!\\)"@)|(([0-9a-z]((\.(?!\.))|[-!#\$%&amp;'\*\+/=\?\^`\{\}\|~\w])*)(?&lt;=[0-9a-z])@))(?(\[)(\[(\d{1,3}\.){3}\d{1,3}\])|(([0-9a-z][-\w]*[0-9a-z]*\.)+[a-z0-9][\-a-z0-9]{0,22}[a-z0-9]))$</value>
            </setting>
        </RetroGames.Properties.GameSettings>
        <RetroGames.Properties.Settings>
            <setting name="PasswordRegEx" serializeAs="String">
                <value>^.*(?=.{6,})(?=.*\\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!*@#$%^&amp;+=.]).*$</value>
            </setting>
            <setting name="EmailRegEx" serializeAs="String">
                <value>\\A(?:[a-z0-9!#$%&amp;\'*+/=?^_`{|}~-]+(?:\\.[a-z0-9!#$%&amp;\'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?)\\Z</value>
            </setting>
        </RetroGames.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <RetroGames.Properties.GameSettings>
            <setting name="GameDirectory" serializeAs="String">
                <value>\\RetroGames\\Game\\</value>
            </setting>
            <setting name="UserDirectory" serializeAs="String">
                <value>\\RetroGames\\User\\</value>
            </setting>
            <setting name="LogDirectory" serializeAs="String">
                <value>\\RetroGames\\Log\\</value>
            </setting>
            <setting name="GameFile" serializeAs="String">
                <value>Game.xml</value>
            </setting>
            <setting name="UserFile" serializeAs="String">
                <value>User.xml</value>
            </setting>
            <setting name="LogFile" serializeAs="String">
                <value>Log.txt</value>
            </setting>
        </RetroGames.Properties.GameSettings>
        <RetroGames.Properties.Settings>
            <setting name="UserDirectory" serializeAs="String">
                <value>\\RetroGames\\User\\</value>
            </setting>
            <setting name="GameDirectory" serializeAs="String">
                <value>\\RetroGames\Game\\</value>
            </setting>
            <setting name="LogDirectory" serializeAs="String">
                <value>\\RetroGames\\Log\\</value>
            </setting>
            <setting name="UserFile" serializeAs="String">
                <value>User.xml</value>
            </setting>
            <setting name="GameFile" serializeAs="String">
                <value>Game.xml</value>
            </setting>
            <setting name="LogFile" serializeAs="String">
                <value>Log.txt</value>
            </setting>
        </RetroGames.Properties.Settings>
    </userSettings>
</configuration>